<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DB Center-Categorias-Producto 1</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--INICIO HEAD-->
    <div class="container head">
        <div class="row registro">
        </div>
        <div class="row text-center">
        <a href="index.html" class="btn btn-primary :active" role="button">Home</a>
        <a href="categorias.html" class="btn btn-primary :active" role="button">Categorias</a>
        <a href="nosotros.html" class="btn btn-primary :active" role="button">Sobre nosotros</a>

        <br><hr>
         <img src="img/bann.jpg" >
        </div>
      </div>
    </div>
     <!--FIN HEAD-->
     <div class="container">
     <hr>

       <div class="row text-center">
       <br><br><br>
         <div>Nuevos Productos para los mejores clientes</div>


         <div class="container servicios">
         <h3 class="text-center">OFERTAS ESPECIALES</h3>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="cajaservicios center-block">
              <img class="center-block"src="img/p1.jpg" width="120">
            </div>
            <h4 class="nsecciones text-center">Tarjeta de video<br>Zotac</h4>
          </div><br><br>
          <div> Marca: ZOTAC<br>Código: NA0000014540 </div>
          <h2>$337.990-</h2>
          <br>
        </div>
        <div>
          <img src="img/p1/1.jpg" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <img src="img/p1/2.jpg" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <img src="img/p1/3.jpg" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <img src="img/p1/4.jpg" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        </div>
       </div>
       <hr><br>
       <h4>Características:</h4><br>
       <ul>
         <li>Familia de Procesadores Graficos: NVIDIA</li>
         <li>Procesador gráfico: GeForce GTX 970</li>
         <li>Máxima resolución: 2560 x 1600 Pixeles</li>
         <li>CUDA: Si</li>
         <li>Frecuencia del procesador: 1152 Mhz</li>
         <li>Aumento de la velocidad de reloj del procesador: 1304 Mhz</li>
         <li>Adaptador gráfico, RAMDAC: 400 Mhz</li>
         <li>Soporte para proceso paralelo: 2-Way SLI, 3-Way SLI, 4-Way SLI</li>
         <li>Núcleos CUDA: 1664</li>
         <li>Gráficos discretos memoria del adaptador: 4 GB</li>
         <li>Tipo de memoria de adaptador gráfico: GDDR5-SDRAM</li>
         <li>Ancho de datos: 256 Bit</li>
         <li>Velocidad de memoria del reloj: 7010 MHz</li>
         <li>Tipo de interfaz: PCI Express x16 3.0</li>
         <li>Número de puertos HDMI: 1</li>
         <li>Cantidad de puertos DVI-I: 1</li>
         <li>Cantidad de DisplayPorts: 3</li>
         <li>Versión HDMI: 2.0</li>
         <li>Sintonizador de TV integrado: No</li>
         <li>PhysX: Si</li>
         <li>Versión DirectX: 12.0</li>
         <li>Versión OpenGL: 4.4</li>
         <li>Alta Definición Total: Si</li>
         <li>Dual Link DVI: Si</li>
         <li>Tipo de enfriamiento: Activo</li>
         <li>Acorde RoHS: Si</li>
         <li>Sistema operativo Windows soportado: Si</li>
         <li>Altura: 11,115 cm</li>
         <li>Ancho: 27,991 cm</li>
         <li>Manual de usuario: Si</li>
         <li>Ancho del paquete: 10 cm</li>
         <li>Profundidad del paquete: 26,1 cm</li>
         <li>Altura del paquete: 36,3 cm</li>
         <li>Conectores de energia suplementario: 2x 6-pin</li>
         <li>Consumo energético: 151W</li>
         <li>Cantidad de puertos DVI-D: 0</li>
         <li>Cantidad de puertos VGA (D-Sub): 0</li>
         <li>Puerto DVI: 0</li>
         <li>VGA dual: 0</li>
         <li>Cantidad de puertos Mini HDMI: 0</li>
         <li>Cantidad de puertos Mini Display: 0</li>
         <li>Profundidad: 27.9 CM</li>
         <li>Factor de forma: ATX</li>
       </ul>
     </div>



     <hr>


     <div class="container">
       <div class="row text-center">
         <hr>

         <div>Telefono: 555-55555 <br>Email: venpc@mipyme.cl</div>
         <hr>

       </div>
     </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
